.auth .panel{
    border-radius: 0px;
    border: 1px solid #F1F1F1;
    padding: 20px 15px;
}

.auth .panel input{
    border-radius: 0px;
    border: none;
    box-shadow: none !important;
    padding-left: 0px !important;
    font-size: 16px !important;
    border-bottom: 1px solid #DBDCDD;
    padding-bottom: 10px;
    margin-bottom: 20px;
    height: 40px;
}


.auth .panel .checkbox label{
    font-size: 13px;
}

.auth .panel button{
    border-radius: 0px;
    margin-top: 25px !important;
    font-size: 14px !important;
}


.auth .auth-title{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background: #ffffff !important;
    color: #000000 !important;
    font-size: 16px !important;
}

.auth .auth-title .panel-body{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.auth .has-error input{
    border-bottom: 1px solid #D54C3E !important;
}

.auth .submit-login{
    margin-top: 15px !important;
}

.auth .recover-password-label{
    margin-bottom: 20px !important;
}