body{
    font-family: 'Flamenco', cursive !important;
    background: #F4F6F7;
    color: #444343;
    padding: 0px !important;
    margin: 0px !important;
}

.alert{
    padding-left: 15px !important;
    padding-right: 15px !important;    
    border-radius: 0px !important;
}

.forgot-password{
    text-decoration: none !important;
    color: #444343 !important;
}

small{
    font-size: 14px !important;
}